html {
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    max-width: 100%;
    overflow-x: hidden;
    width: 100%;
    font-size: 62.5%;
}

#header {
    width: 100%;
    height: 11rem;
    background-color: #ae58ff;
    padding: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

header ul li a {
    text-decoration: none;
    color: black;
    font-size: 3rem;
}

header ul li a:hover {
    font-size: 3.5rem;
    color: white;
}


ul li {
    margin-right: 5rem;
    margin-left: 5rem;
}

li {
    list-style-type: none;

}

body {
    background: linear-gradient(to bottom right, #240047, #6c067a);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
}

#home {
    color: white;
}

.texto {
    text-align: center;
    font-size: 2rem;
    line-height: 1.5;
    margin-left: 15rem;
    margin-right: 15rem;
    overflow-wrap: break-word;
    text-align: justify;
    text-indent: 2em;
}

.box-informacao {
    width: 17.5rem;
    height: 40rem;
    background-color: #240047;
    border: 0px solid white;
    border-bottom-width: 0.7rem;
    border-right-width: 0.7rem;
    border-radius: 1rem;
    margin: 1rem;
    margin-top: 15rem;
    margin-bottom: 15rem;
    font-size: 1.5rem;
}

.box-informacao a img {
    width: 2rem;
    height: 2rem;
    border-radius: 5rem;
    margin-right: 1rem;
}

.box-informacao:hover {
    width: 20rem;
    height: 42.5rem;

}

.box-informacao p img {
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    display: flex;
    margin: auto;
    margin-top: 1rem;
}

.box-informacao a {
    align-items: center;
    justify-content: start;
    flex-direction: row;
    display: flex;
    color: white;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.box-informacao p {
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    flex-direction: column;
    margin-bottom: 2rem;
}

.conteiner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@media (min-width:401px) and (max-width: 600px) {

    #header ul li {
        font-size: 1.5rem;
        font-style: bold;
    }

    #header ul li a {
        color: #fff;
    }

    .conteiner {
        flex-direction: column;
    }

    .box-informacao {
        margin-bottom: 2rem;
        margin-top: 4rem;
    }
}