html {
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    max-width: 100%;
    overflow-x: hidden;
    width: 100%;
    font-size: 62.5%;
}

#header
{
    width: 100%;
    height: 11rem;
    background-color: #ae58ff;
    padding: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

header ul li a {
    text-decoration: none; 
    color: black; 
    font-size: 3rem;
}

header ul li a:hover {
    font-size: 3.5rem;
    color: white;
}

ul li {
    margin-right: 5rem;
    margin-left: 5rem;
}
    
li {
    list-style-type: none;

}

body {  
    background: linear-gradient(to bottom right, #240047, #6c067a);
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

#home {
    color:white;
}

.texto {
    text-align: center;
    font-size: 2rem;
    line-height: 1.5;
    margin-left: 15rem;
    margin-right: 15rem;
    overflow-wrap: break-word;
    text-align: justify;
    text-indent: 2em;
}

.texto2 {
    text-align: center;
    font-size: 3rem;
    line-height: 1.5;
    margin-left: 15rem;
    margin-right: 15rem;
    overflow-wrap: break-word;
    text-align: justify;
    text-indent: 2em;
}

.titulo {
    font-size: 3.5rem;
    color: white;
    justify-content: center;
    display: flex;
    margin-top: 13rem;
    margin-bottom: 10rem;
    font-weight: bold;
}

#botao {
   color: white;
}


@media (min-width:401px) and (max-width: 600px){

    #header ul li{
        font-size: 3rem;
        font-style: bold;
    }

    #header ul li a{
        color: #fff;
    }
    .titulo {
        font-size: 2rem;
        display: flex;
        align-items: center;
    }
    ul li {
        margin-right: 2rem;
        margin-left: 2rem;
    }
    header ul li a {
        text-decoration: none; 
        color: black; 
        font-size: 2rem;
    }

}
