* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --selecionado: black;
  --background: #fff;
  --options-back: #8235d5;
  --options-hover: #fff;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom right, #240047, #6c067a);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.container {
  padding: 200px;
}

.content {
  width: 500px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3566d5;
  border-radius: 20px;
  gap: 10px;
}

.options {
  font-size: 20px;
}

#question {
  text-align: center;
  color: #240047;
  margin-left: 10px;
  margin-right: 10px;
}

.options {
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
  width: 350px;
  display: inline-block;
  color: #fff;
  background-color: var(--options-back);
  border-radius: 10px;
  padding: 20px;
  border: 2px solid black;
}

.options:hover {
  color: var(--selecionado);
  background-color: var(--options-hover);
}


.active {
  color: var(--selecionado);
  background-color: #fff;
}

#btnCheck {
  color: #fff;
  background-color: #1c3166;
  font-size: 20px;
  padding: 20px 40px;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
}

#btnCheck:hover {
  background-color: #004186;
}

.score {
  color: #240047;
  font-size: 20px;
}

#user {
  color: #240047;
  font-style: bold;
  font-size: 20px;
}

.bar-progress {
  width: 200px;
  height: 15px;
  background-color: #ccc;
  border-radius: 5px;
}

.progress {
  border-radius: 5px;
  height: 15px;
  background-image: linear-gradient(to bottom right, #240047, #6c067a);
  width: 0%;
  transition: width 0.5s ease;
}


.alert {
  background-color: red;
  border-radius: 10px;
  padding: 5px;
  color: white;
}


.correct {
  background-color: chartreuse;
}

.incorrect {
  background-color: red;
  color: white;
}




@media (min-width: 401px) and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }

  .container {
    height: 100vh;
    padding: 10px;
  }

  .content {
    width: 350px;
    max-width: 350px;
    padding: 40px 30px;
    height: auto;
    margin: 50px auto;
  }

  .options {
    width: 250px;
  }
}


@media (min-width: 300px) and (max-width: 400px) {
  body {
    overflow-x: hidden;
  }

  .container {
    height: 100vh;
    padding: 10px;

  }

  .content {
    width: 90%;
    max-width: 340px;
    padding: 40px 30px;
    height: auto;
    margin: 10px auto;
    gap: 10px;
  }

  .options {
    width: 250px;
  }

  #btnCheck {
    margin-top: 5px;
    cursor: pointer;
  }
}