html {
    font-family: 'Roboto';
    font-size: 62.5%;
    padding: 0;
}

#header
{
    width: 100%;
    height: 11rem;
}

body {
    background: linear-gradient(to bottom right, #240047, #6c067a);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    text-decoration: none;
}

#header {
    width: 100vw;
    height: 10rem;
    background-color: #ae58ff;
    padding: 0;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header ul {
    display: flex;
    flex-direction: row;
    gap: 6rem;   
}

header ul li {
    list-style-type: none;
    color: rgb(255, 255, 255);
    font-size: 3rem;
}

a{
    text-decoration: none;
}

header ul li a:hover {
    font-size: 3.5rem;
    color: white;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.texto {
    text-align: center;
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
    text-indent: 2em;
}

.btn {
    display: inline-block;
    padding: 5rem 5rem;
    color: white;
    background-color: transparent;
    border-radius: 3rem;
    border: solid white;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    transition: 0.3s ease;
    transition-property: background-color, color;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: color 0.3s;
}

.btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-image: url(https://i.pinimg.com/originals/1b/9c/5e/1b9c5edf895e27b842ce49c73d48a385.gif);
    background-size: cover;
    background-position: center;
    transform: translate(-50%, -50%) scale(1.5);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
}

.btn:hover::before {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.container-button {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.btn:hover {
    color: transparent;
    padding: 5rem 5rem;
}

.titulo {
    font-size: 45px;
    color: white;
    justify-content: center;
    display: flex;
    margin-bottom: 5rem;
}

.titulo2 {
    font-size: 3.5rem;
    color: white;
    text-align: center;
}

#btn {
    color: white;
}

@media (min-width:401px) and (max-width: 600px){

    #header ul li{
        font-size: 3rem;
        font-style: bold;
    }

    #header ul li a{
        color: #fff;
    }
}