    *{
margin: 0;
padding: 0;
box-sizing: border-box;

    }

header{
    display: flex;
    justify-content: center;
}

.caixa-texto{
    height: 325px;
    width: 300px;
    background-color: rgba(35, 99, 99, 0.774);
    color: white;
    border-radius:8%;
    margin-top: 160px;
    text-align: center;
}
.caixa-texto h4{
color: black;
padding: 25px 0px;
font-size: 115%;
}

.custom-radio {
    padding: 5px 0px;
    font-size: 105%;
    margin-top: 2%;
    
}

button {
    width: 89px;
    height: 50px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(35, 99, 99, 0.774);
    color: rgb(245, 245, 245);
    font-size: 15px;
    font-weight: 300;
    border-radius: 7%;
    transition: 0.5s;
    cursor: pointer;
}

button:hover{
    transition: 0.5s;
    background-color: rgba(58, 139, 139, 0.774);
}